<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Form Row # 1:  -->
  <div class="form-group">
    <div class="col-sm-6 name-group">
      <%#= form.label :title, humanize_attribute(flag_model, :name), class: "control-label icon-required" %>
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control', required: true %>
      <p class="name-help-block">
      </p>
    </div>

  </div>

  <!-- Form Row # 2:  -->
  <div class="form-group">
    <div class="col-sm-12">
      <%#= form.label :body, humanize_attribute(flag_model, :body), class: "control-label" %>
      <%= form.label :body %>
      <%= form.text_area :body, class: "form-control textarea_inline_100 text_autosize", style: 'resize: vertical; height: 36px;', disabled: false %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
