<%
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  note = local_assigns.fetch(:note)
  body_truncate_length = 160
  body_text = text_from_note(note)
%>

<tr>
  <td>
    <div class="nowrap">
      <%= link_to note.title, note_path(note) %>
    </div>
  </td>
  <td>
    <div class="nowrap">
      <% popover_data = body_text.length > body_truncate_length ? { toggle: :popover, trigger: :hover, title: t('notes.column_header_labels.body'), content: note.body.body.to_s, placement: :left, html: true } : {} %>
      <%= content_tag :div, data: popover_data do %>
        <%= truncate(body_text, length: body_truncate_length) %>
      <% end %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= if_applicable(note.created_at.present? ? l(note.created_at) : nil, titleize: false) %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= if_applicable(note.updated_at.present? ? l(note.updated_at) : nil, titleize: false) %>
    </div>
  </td>

  <td class="nowrap">
    <%= link_to download_note_as_word_note_path(note), class: "btn btn-sm", download: note.title, data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.download') do %>
      <i class="fa fa-download fa-fw" aria-hidden="true"></i>
    <% end %>

    <%= link_to clone_note_path(note), class: "btn btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.clone') do %>
      <i class="fa fa-clone fa-fw" aria-hidden="true"></i>
    <% end %>

    <%= link_to edit_note_path(note, return_to: notes_path), class: "btn btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.edit') do %>
      <i class="fa fa-pencil-alt fa-fw" aria-hidden="true"></i>
    <% end %>

    <%= link_to note_path(note), method: :delete, class: "btn btn-sm", data: { confirm: t("actions.confirm"), toggle: 'tooltip', placement: 'top', disable_with: t('actions.deleting.short') }, title: t('actions.delete') do %>
      <i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>