<!--<p id="notice"><%#= notice %></p>-->

<h1>Notes</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<table>
  <thead>
  <tr>
    <th class="nowrap">
      <%#= sort_link(flags_scope_meta, :name, humanize_attribute(flag_model, :name), {default_order: :asc}) %>
      <%#= sort_link(@q, :name, humanize_attribute(flag_model, :name), {default_order: :asc}) %>
      <%= sort_link(@notes_scope_meta, :title, { default_order: :asc }) %>
    </th>
    <th class="nowrap">
      <%= sort_link(@notes_scope_meta, :body, { default_order: :asc }) %>
    </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @notes.each do |note| %>
    <tr>
      <td>
        <div class="nowrap">
          <%= note.title %>
        </div>
      </td>
      <td>
        <div class="nowrap">
          <%= note.body %>
        </div>
      </td>

      <td><%= link_to 'Show', note %></td>
      <td><%= link_to 'Edit', edit_note_path(note) %></td>
      <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
