<br>
<h1 class="mt-4"><%= t("app.extra_pages.about.nav") %></h1>

<ol class="breadcrumb mb-4 hidden-print">
  <li class="breadcrumb-item active"><%= t('app.extra_pages.about.title') %></li>
</ol>

<div class="row">
  <div class="col-xl-12">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-address-card mr-1"></i>
        Reinier Garcia Ramos
      </div>

      <div class="card-body">
<!--        <canvas id="myAreaChart" width="100%" height="40"></canvas>-->
        
        <!--================Home Banner Area =================-->
        <section class="profile_area">
          <div class="container">
            <div class="profile_inner p_120">
              <div class="row">
                <div class="col-lg-5">
                  <img class="img-fluid" src=<%= "#{asset_path 'reinier_about_sharp_note_rounded_borders.png'}" %>>
                </div>
                <div class="col-lg-7">
                  <div class="personal_text">
                    <h6>Hello Everybody, i am</h6>
                    <h3>Reinier Garcia</h3>
                    <h4>Full-stack Web Developer</h4>
                    <p class="text-justify">
                      Highly focused and reliable Full-Stack Web Developer, with an excellent learning capacity and a
                      high dedication to work. Competent in handling multiple tasks and concerns with the utmost
                      professionalism. Able to work independently with little or no supervision, or in coordination with
                      supervisors and other coworkers.
                    </p>
                    <ul class="list basic_info">
                      <li><a href="#"><i class="fas fa-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;February, 10th, 1980</a>
                      </li>
                      <li><a href="#"><i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+1 (786) 458-2150</a></li>
                      <li><a href="#"><i class="far fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;reymillenium@gmail.com</a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;101 SW 36th CT, Miami, FL, 33135</a>
                      </li>
                    </ul>
                    <ul class="list personal_social">
                      <li>
                        <%= link_to "https://www.reiniergarcia.com/", class: "", target: '_website' do %>
                          <i class="fas fa-link"></i>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to "https://www.linkedin.com/in/reymillenium/", class: "", target: '_linkedin' do %>
                          <i class="fab fa-linkedin"></i>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to "https://github.com/reymillenium/", class: "", target: '_github' do %>
                          <i class="fab fa-github"></i>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to "https://stackoverflow.com/users/9616949/reinier-garcia?tab=profile", class: "", target: '_stack' do %>
                          <i class="fab fa-stack-overflow"></i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--================End Home Banner Area =================-->

      </div>
    </div>
  </div>
</div>












