<br>
<br>
<div class="row justify-content-center mt-4">
  <div class="col-lg-7">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-header">
        <img class="ml-4 float-left" style="width: 41px; height: 43px; margin-top: 20px; position: absolute;" src=<%= "#{asset_path 'old-note-transparent.png'}" %>>
        <h3 class="text-center font-weight-light my-4">
          Password Recovery
        </h3>
      </div>

      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="small mb-3 text-muted">* We will send you a link to reset your password.</div>

          <div class="form-group">
            <%= f.label :email, class: 'small mb-1' %>
            <%= f.email_field :email, class: 'form-control py-4', autofocus: true, autocomplete: "email", placeholder: 'Enter email address' %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="small mb-1">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </div>

          <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <%- if controller_name != 'sessions' %>
              <%= link_to "Return to login", new_session_path(resource_name), class: 'small', style: "text-decoration: none;" %>
              <br/>
            <% end %>
            <%= f.submit "Reset Password", class: 'btn btn-primary' %>
          </div>

          <div class="form-group">
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "small", style: "text-decoration: none;" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="card-footer text-center">
        <div class="small">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Need an account? Sign up!", new_registration_path(resource_name), style: "text-decoration: none;" %>
            <br/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>