<!DOCTYPE html>
<html>
<head>
  <title>SharpNotes 2020</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="shortcut icon" href="<%= asset_path 'old-note-transparent.png' %>"/>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="sb-nav-fixed">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <img class="ml-4" style="width: 41px; height: 43px;" src=<%= "#{asset_path 'old-note-transparent.png'}" %>>
  <%= link_to notes_path, class: 'navbar-brand' do %>
    <span style="color: #bfb975; font-weight: bold;">Sharp</span><span style="color: #bc3939; font-weight: bold;">Notes</span>
  <% end %>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
  </button>
  <!-- Navbar Search-->
<!--  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
<!--    <div class="input-group">-->
<!--      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"/>-->
<!--      <div class="input-group-append">-->
<!--        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
  <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
  </div>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: 'dropdown-item' %>
          <%= link_to "Login", new_user_session_path, class: 'dropdown-item' %>
        <% end %>
      </div>
    </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>
          <a class="nav-link" href="index.html">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Dashboard
          </a>
          <div class="sb-sidenav-menu-heading">Interface</div>
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Layouts
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" href="layout-static.html">Static Navigation</a>
              <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
            </nav>
          </div>
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            Pages
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                Authentication
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="login.html">Login</a>
                  <a class="nav-link" href="register.html">Register</a>
                  <a class="nav-link" href="password.html">Forgot Password</a>
                </nav>
              </div>
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                Error
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="401.html">401 Page</a>
                  <a class="nav-link" href="404.html">404 Page</a>
                  <a class="nav-link" href="500.html">500 Page</a>
                </nav>
              </div>
            </nav>
          </div>
          <div class="sb-sidenav-menu-heading">Addons</div>
          <a class="nav-link" href="charts.html">
            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
            Charts
          </a>
          <a class="nav-link" href="tables.html">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Tables
          </a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        <% if user_signed_in? %>
          <div><%= current_user.email %></div>
        <% else %>
          Start Bootstrap
        <% end %>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <%= render("shared/flash_messages") %>

        <!--        <div class="row">-->
        <!--          <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card bg-primary text-white mb-4">-->
        <!--              <div class="card-body">Primary Card</div>-->
        <!--              <div class="card-footer d-flex align-items-center justify-content-between">-->
        <!--                <a class="small text-white stretched-link" href="#">View Details</a>-->
        <!--                <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card bg-warning text-white mb-4">-->
        <!--              <div class="card-body">Warning Card</div>-->
        <!--              <div class="card-footer d-flex align-items-center justify-content-between">-->
        <!--                <a class="small text-white stretched-link" href="#">View Details</a>-->
        <!--                <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card bg-success text-white mb-4">-->
        <!--              <div class="card-body">Success Card</div>-->
        <!--              <div class="card-footer d-flex align-items-center justify-content-between">-->
        <!--                <a class="small text-white stretched-link" href="#">View Details</a>-->
        <!--                <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="col-xl-3 col-md-6">-->
        <!--            <div class="card bg-danger text-white mb-4">-->
        <!--              <div class="card-body">Danger Card</div>-->
        <!--              <div class="card-footer d-flex align-items-center justify-content-between">-->
        <!--                <a class="small text-white stretched-link" href="#">View Details</a>-->
        <!--                <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <!--        <div class="row">-->
        <!--          <div class="col-xl-6">-->
        <!--            <div class="card mb-4">-->
        <!--              <div class="card-header">-->
        <!--                <i class="fas fa-chart-area mr-1"></i>-->
        <!--                Area Chart Example-->
        <!--              </div>-->
        <!--              <div class="card-body">-->
        <!--                <canvas id="myAreaChart" width="100%" height="40"></canvas>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="col-xl-6">-->
        <!--            <div class="card mb-4">-->
        <!--              <div class="card-header">-->
        <!--                <i class="fas fa-chart-bar mr-1"></i>-->
        <!--                Bar Chart Example-->
        <!--              </div>-->
        <!--              <div class="card-body">-->
        <!--                <canvas id="myBarChart" width="100%" height="40"></canvas>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <%= yield %>

      </div>
    </main>

    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; SharpNotes 2020</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="app/javascript/packs/scripts.js"></script>
<script src="app/assets/demo/chart-area-demo.js"></script>
<script src="app/assets/demo/chart-bar-demo.js"></script>
<script src="app/assets/demo/datatables-demo.js"></script>
<%= javascript_pack_tag 'scripts' %>
</body>
</html>
